   
   body {
    background-color: mediumpurple;
    
   }
   
   
   h1{
color: aliceblue;
}
h2 {
    color: azure;
}
h3 {
    color: azure;
}
 button {
    background-color: darkslateblue;
    color: azure;
    border: 5px;
    padding: 10px 20 px;
    font-size: none;
    cursor: pointer;
    border-radius: 5px;
    border: 3px;
 }
 
 p {
    font-size: 18px;
 }

 